@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #f1f0f6;
    --dark-grey: #8d8d8d;
    --light: #fff;
    --dark: #000;
    --green: #81d43a;
    --light-green: #e3ffcb;
    --blue: #1775f1;
    --light-blue: #d0e4ff;
    --dark-blue: #0c5fcd;
    --red: #fc3b56;
    --portfolio-bg: #74d8a9;
    --portfolio-text: #2c2c2c;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
    border: 3px solid #f5f5f5;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
    border-radius: 10px;
}

body {
    background: var(--grey);
    overflow: hidden;
    height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    max-width: 230px;
    width: 100%;
    background: var(--light);
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all 0.3s ease;
    z-index: 200;
    overflow: scroll;
}
#sidebar.hide {
    max-width: 60px;
}
#sidebar.hide:hover {
    max-width: 260px;
}
#sidebar::-webkit-scrollbar {
    display: none;
}
#sidebar .brand {
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 64px;
    font-weight: 700;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--light);
    transition: all 0.3s ease;
    padding: 0 6px;
}
#sidebar .icon {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    font-size: 25px;
}
#sidebar .side-menu {
    margin: 36px 0;
    padding: 0 20px;
    transition: all 0.3s ease;
}
#sidebar.hide .side-menu {
    padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
    padding: 0 20px;
}
#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--dark);
    padding: 12px 16px 12px 0;
    transition: all 0.3s ease;
    border-radius: 10px;
    margin: 4px 0;
    white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
    background: var(--grey);
}
#sidebar .side-menu > li > a.active .icon-right {
    transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
    background: var(--blue);
    color: var(--light);
}
#sidebar .divider {
    margin-top: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-grey);
    transition: all 0.3s ease;
    white-space: nowrap;
}
#sidebar.hide:hover .divider {
    text-align: left;
}
#sidebar.hide .divider {
    text-align: center;
}
/* SIDEBAR */

/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}
#sidebar.hide + #content {
    width: calc(100% - 60px);
    left: 60px;
}

/* NAVBAR */
nav {
    background: var(--light);
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
nav .toggle-sidebar {
    font-size: 18px;
    cursor: pointer;
}
/* NAVBAR */

/* MAIN */
main {
    width: 100%;
    padding: 24px 20px 20px 20px;
    height: calc(100vh - 64px);
    /* overflow-y: scroll; */
    display: grid;
    grid-template-rows: auto auto 1fr;
}
main .title {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}
main .breadcrumbs {
    display: flex;
    grid-gap: 6px;
}
main .breadcrumbs li,
main .breadcrumbs li a {
    font-size: 14px;
}
main .breadcrumbs li a {
    color: var(--blue);
}
main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
    color: var(--dark-grey);
    pointer-events: none;
}
main .info-data {
    margin-top: 36px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
main .info-data .card {
    min-width: 270px;
    padding: 20px;
    border-radius: 10px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
    max-height: 705px;
    overflow-y: scroll;
}
main .info-data .card-form::-webkit-scrollbar {
    display: none;
}
main .info-data .card-table {
    overflow: auto;
}

/* ------------------- MY STYLES ------------------- */
input {
    border: none;
    border-bottom: 2px solid #1775f1;
    font-size: 16px;
    background-color: var(--grey);
    text-align: center;
    width: 100%;
}
input:focus {
    outline: none;
}
/* FORM STYLES */
form {
    min-width: 200px;
}
.fieldset {
    padding: 20px;
    border-radius: 10px;
    border: 3px solid var(--grey);
}
.fieldset-legend {
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1.5px;
    padding: 10px;
    background-color: var(--grey);
}
div.first-inputs {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
/* BOLD TO 'LABELS' */
div.first-inputs label,
p,
fieldset > label {
    font-weight: 600;
}
/* BOLD TO 'LABELS' */

input[type="button"] {
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #1775f1;
    color: var(--light);
    cursor: pointer;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}
textarea {
    width: 100%;
    height: 200px;
    margin: 10px 0 20px;
    resize: none;
    padding: 10px;
    background-color: var(--grey);
    border-radius: 10px;
    border: 1px solid var(--blue);
}
textarea:focus {
    outline: 2px solid var(--blue);
}
div.lenguajes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}
div.lenguajes input {
    width: auto;
    margin-right: 5px;
}
div.idiomas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 175px);
    margin: 10px 0 20px;
    gap: 10px;
}
.select-idiomas {
    width: 180px;
    padding: 5px;
    border-radius: 5px;
}
input.addIdioma {
    margin-bottom: 20px;
}
.p-redes {
    margin: 20px 0 10px;
}
div.redes-sociales input {
    margin-bottom: 12px;
}
.btnSubmit {
    display: block;
    cursor: pointer;
    border: none;
    width: 50%;
    margin: 20px auto 0;
    padding: 10px 0;
    font-weight: 600;
    background-color: var(--green);
    border-radius: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    min-width: 115px;
    min-height: 30px;
}
.btnSubmit:hover {
    outline: 2px solid var(--dark);
}
table {
    width: 100%;
}
table,
th,
td {
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
}
th,
td {
    background-color: var(--grey);
    padding: 5px;
    border-radius: 10px;
}
table .img-profile {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}
.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 235px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #999;
}
.bi-search {
    position: absolute;
    left: 10px;
}
.search-input {
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 10px;
    padding: 5px 0 5px 40px;
}
.search-input:hover {
    background: #f5f5f5;
}
button {
    border: none;
    display: inline-flex;
    padding: 5px;
    color: var(--light);
    border-radius: 7px;
    cursor: pointer;
}
button.btnPagina {
    background-color: orange;
}
button.btnPagina:hover {
    background-color: var(--light);
    color: orange;
    outline: 1px solid orange;
}
button.btnModificar {
    background-color: var(--blue);
}
button.btnModificar:hover {
    background-color: var(--light);
    color: var(--blue);
    outline: 1px solid var(--blue);
}
button.btnEliminar {
    background-color: var(--red);
}
button.btnEliminar:hover {
    background-color: var(--light);
    color: var(--red);
    outline: 1px solid var(--red);
}
/* MAIN */
/* CONTENT */

/* ------------------- PORTFOLIO STYLES ------------------- */
main.portfolio {
    display: flex;
    justify-content: center;
    min-width: 280px;
}
main .card-portfolio {
    border-radius: 10px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
    overflow: auto;
    height: 100%;
    width: 700px;
    color: var(--portfolio-text);
}
main .card-portfolio::-webkit-scrollbar {
    display: none;
}
/* HEADER */
.header-portfolio {
    background-color: var(--portfolio-bg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 14%;
}
.imgPerfil {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: block;
    margin: 40px auto 0;
    object-fit: cover;
}
div.nomypro {
    margin-left: -30px;
}
h1.nombre {
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
    margin-top: 15px;
}
h2.profesion {
    font-size: 1.3rem;
    font-weight: 400;
}
/* HEADER */

/* BODY */
div.body-portfolio {
    min-height: calc(86% - 20px);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
    padding: 0 80px 20px;
}
div.body-portfolio i {
    width: 20px;
}
div.body-portfolio h2 {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
div.body-portfolio h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--portfolio-bg);
}
div.body-portfolio p {
    font-weight: 400;
}
div.col-1 {
    margin-top: 120px;
}
div.col-2 {
    padding-top: 20px;
}
div.contacto p:not(:nth-of-type(1)),
div.redes-sociales p:not(:nth-of-type(1)) {
    margin-top: 5px;
}
div.redes-sociales a {
    text-decoration: none;
    color: var(--portfolio-text);
}
div.redes-sociales a:hover {
    color: var(--portfolio-bg);
}

@counter-style educacion {
    system: cyclic;
    symbols: \1F393;
    suffix: " ";
}
@counter-style lenguajes {
    system: cyclic;
    symbols: \1F3AF;
    suffix: " ";
}
@counter-style idiomas {
    system: cyclic;
    symbols: \1F30E;
    suffix: " ";
}
@counter-style hobbies {
    system: cyclic;
    symbols: \1F3BF;
    suffix: " ";
}
@counter-style experiencias {
    system: cyclic;
    symbols: \1F4BC;
    suffix: " ";
}
ul {
    padding-left: 20px;
}
li.li-lenguajes {
    list-style-type: lenguajes;
}
li.li-idiomas {
    list-style-type: idiomas;
}
li.li-educacion {
    list-style-type: educacion;
}
li.li-hobbies {
    list-style-type: hobbies;
}
li.li-hobbies {
    list-style-type: hobbies;
}
li.li-experiencia {
    list-style-type: experiencias;
}
div.redes-sociales,
div.lenguajes-p,
div.p-idiomas,
div.hobbies,
div.educacion,
div.sobremi,
div.experiencia {
    margin-top: 25px;
}
div.footer {
    width: 100%;
    height: 20px;
    background-color: var(--portfolio-bg);
}
/* BODY */

/* ------------------- PORTFOLIO STYLES ------------------- */

/* STYLES SECTION EMAILS */
main .info-data-sections {
    display: grid;
    grid-template-columns: 1fr;
}
.card-editcontenido {
    display: flex;
    align-items: center;
    font-size: 4rem;
    text-align: center;
}
/* STYLES SECTION EMAILS */

@media (hover: none) {
    main .info-data .card-table::-webkit-scrollbar {
        display: none;
    }
}
@media screen and (width <= 1310px) {
    main {
        overflow-y: scroll;
    }
    main::-webkit-scrollbar {
        display: none;
    }
    main .info-data {
        grid-template-columns: 1fr;
    }
    div.first-inputs {
        width: 50%;
        margin: 0 auto 30px;
    }
}
@media screen and (width <= 730px) {
    div.first-inputs {
        width: 100%;
    }
    input.search-input {
        font-size: 14px;
        text-align: left;
        padding-left: 35px;
    }
    .bi-search {
        height: 15px;
        width: 15px;
    }
}

/* MEDIA PORTFOLIO */
@media screen and (width <= 820px) {
    .header-portfolio {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .imgPerfil {
        margin-top: 30px;
        width: 130px;
        height: 130px;
    }
    div.nomypro {
        margin: 0;
    }
    h1.nombre {
        font-size: 4.5vw;
    }
    h2.profesion {
        font-size: 3vw;
    }
    div.body-portfolio {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 0 8vw 20px;
    }
    div.body-portfolio h2 {
        font-size: 1rem;
    }
    div.col-1 {
        width: 100%;
        margin-top: 18vh;
        padding: 0;
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(196px, 1fr));
        align-items: start;
        justify-content: center;
    }
    div.col-2 {
        padding: 0;
    }
    div.redes-sociales,
    div.lenguajes-p,
    div.p-idiomas,
    div.hobbies {
        margin-top: 0;
    }
}
